.homepage-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  margin: 0;
  gap: 1.5em;
}

.homepage-container h1 {
  font-size: 3em;
  margin: 0.5em;
}

.hero-description {
  font-size: 1.7em;
  padding: 0 1.5em;
}

.browsing-description {
  font-size: 1.2em;
  padding: 0 1.5em;
}

.legendary-carousel {
  width: 40%;
  padding: 0 1.5em;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.swiper-slide h1 {
  font-size: 2.5em;
}

.carousel-description {
  font-size: 1.2em;
  padding: 0 1.5em;
}

@media (max-width: 1100px) {
  .homepage-container {
    gap: 1.5em;
  }

  .homepage-container h1 {
    font-size: 3.5em;
  }

  .hero-description {
    font-size: 2em;
  }

  .browsing-description {
    font-size: 1.8em;
  }

  .legendary-carousel {
    width: 65%;
  }

  .swiper-slide h1 {
    font-size: 2.5em;
  }

  .swiper-slide img {
    width: 20em;
  }

  .carousel-description {
    font-size: 2em;
  }
}

@media (max-width: 600px) {
  .homepage-container {
    gap: 0.5em;
  }

  .homepage-container h1 {
    font-size: 2em;
  }

  .hero-description {
    font-size: 1.2em;
  }

  .browsing-description {
    font-size: 1em;
  }

  .legendary-carousel {
    width: 85%;
  }

  .swiper-slide h1 {
    font-size: 2em;
  }

  .swiper-slide img {
    width: 12em;
  }

  .carousel-description {
    font-size: 1em;
  }
}
