.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20em;
  margin: 0;
  height: 53em;
  border: 2px solid goldenrod;
  border-radius: 5px;
  box-shadow: 0 0 5px goldenrod, 0 0 10px goldenrod, 0 0 15px goldenrod;
  padding: 1em;
}

.product-card h3 {
  font-size: 2.5em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.product-card img {
  width: 10em;
  height: 10em;
}

.stats-tables {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.attack-defence {
  display: flex;
  gap: 1em;
}

.scaling-requirements {
  display: flex;
  gap: 1em;
}

.attack,
.defence,
.scaling,
.requirements {
  width: 5em;
}

table {
  border: none;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid goldenrod;
}

table tr:first-child th {
  border-top: none;
}

table tr:last-child td {
  border-bottom: none;
}

table tr td:first-child,
table tr th:first-child {
  border-left: none;
}

table tr td:last-child,
table tr th:last-child {
  border-right: none;
}

thead,
tbody {
  border: none;
}

.attack tbody tr:first-child td:first-child {
  color: white;
}

.attack tbody tr:nth-child(2) td:first-child {
  color: #3fbddd;
}

.attack tbody tr:nth-child(3) td:first-child {
  color: orangered;
}

.attack tbody tr:nth-child(4) td:first-child {
  color: #d5d559;
}

.attack tbody tr:nth-child(5) td:first-child {
  color: #ffcc99;
}

.attack tbody tr:nth-child(6) td:first-child {
  color: #c64949;
}

.defence tbody tr:first-child td:first-child {
  color: white;
}

.defence tbody tr:nth-child(2) td:first-child {
  color: #3fbddd;
}

.defence tbody tr:nth-child(3) td:first-child {
  color: orangered;
}

.defence tbody tr:nth-child(4) td:first-child {
  color: #d5d559;
}

.defence tbody tr:nth-child(5) td:first-child {
  color: #ffcc99;
}

.defence tbody tr:nth-child(6) td:first-child {
  color: #666699;
}

.scaling-requirements tbody tr:first-child td:first-child,
.scaling-requirements tbody tr:nth-child(2) td:first-child,
.scaling-requirements tbody tr:nth-child(3) td:first-child,
.weapon-weight tbody tr:first-child td:first-child,
.weapon-value tbody tr:first-child td:first-child,
.weapon-category {
  color: goldenrod;
}

.weapon-weight tbody tr:first-child td {
  border-top: none;
}

.weapon-weight tbody tr:first-child td:first-child {
  padding-right: 0.5em;
}

.weapon-weight tbody tr:first-child td:last-child {
  padding-left: 0.5em;
}

.weapon-category {
  font-size: 1.2em;
}

.weapon-value tbody tr:first-child td {
  border-top: none;
}

.weapon-value tbody tr:first-child td:first-child {
  padding-right: 0.5em;
}

.weapon-value tbody tr:first-child td:last-child {
  padding-left: 0.5em;
}

.add-to-cart-container {
  display: flex;
  gap: 0.5em;
}

.add-to-cart-container input {
  width: 7ch;
  text-align: right;
}
