html,
body,
#root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;
}
