html,
body,
#root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;
  font-size: 1em;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 1em;
  font-size: 1.2em;
}

@media (max-width: 600px) {
  ul {
    font-size: 1.1em;
    padding-left: 1em;
  }

  footer {
    font-size: 0.7em;
  }
}
